:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsla(0, 0%, 35%, 0.838);
    --grey-800: hsla(0, 28%, 95%, 0.068);
    --grey-900: hsl(0, 0%, 8%);
    --font-size-p: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey-900);
    height: 100vh;
    width: 100vw;
}   


.card {
    background-color: var(--grey-800);
    height: clamp(35rem, 60vh, 35rem);
    width: clamp(20rem, 30vw, 22rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 10px;
}

.img {
    display: flex;
    justify-content: center;
    height: 15%;
    margin-block-end: 0.7rem;
}

img {
    border-radius: 50%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

h2 {
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-end: 0.1rem;
}

p {
    color: var(--green);
    font-size: var(--font-size-p);
    font-weight: 600;
}

#title {
    color: rgba(219, 217, 217, 0.853);
    font-weight: 400;
    padding: 0.8rem;
    margin-block-start: 0.7rem;
}

.list {
    width: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-800);
    list-style-type: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-p);
    font-weight: 700;
}

ul li:hover {
    background-color: var(--green);
    color: black;
}

footer {
    padding-block-start: 4rem;
    color: var(--white);
}
