:root {
  --light-blue: hsl(212, 45%, 89%);
  --light-white: hsl(0, 0%, 100%);
  --grey-blue: hsl(216, 15%, 48%);
}

body {
    background-color: var(--light-blue);
    font-family: 'Outfit', sans-serif;
  }

  .area {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 12vw;
    min-width: 230px;
    margin: 30vh auto;
    flex-wrap: wrap;
    background-color: var(--light-white);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding-block-end: 1rem;
  }

  h1 {
    font-size: 1rem;
  }
  
  .img {
    height: 20vh;
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 200px;
    min-width: 6.25rem;
  }

  .img img {
    height: 100%;
    margin: 1rem auto;
    border-radius: 10px;

  }

  .top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20vh;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: auto;
  }

  .heading,
  .text {
    font-weight: 700;
    font-size: 1rem;
    width: 20vh;
    display: flex;
    flex-wrap: wrap;
  }
  

  .text {
    margin: 0 auto;
    width: 20vh;
    color: hsl(216, 15%, 48%);
  }

  .text p{
    font-weight: 400;
    font-size: 0.7rem;
    margin: 0 auto;
    color: var(--grey-blue);
  }

  .attribution {
    display: flex;  
    margin-top: 17%;
  }

  @media (min-width: 25rem) {
    .top p,
    .text p {
    margin: 0 auto;
    width: auto;
  }
  }

  @media (min-width: 44rem) {
    .top p,
    .heading p {
    margin: 0 auto;
    width: 20rem;
  }
  }

  @media (min-width: 81rem) {
    .top,
    .heading {
      width: 12.5rem;
    }

    .top p,
    .heading p {
    margin: 0 auto;
    width: 100%;
  }
  }
