:root {
    --yellow-background: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 7%);
    --margin-left: clamp(1rem, 1.2vw, 1.5rem);
}

body {
    font-family: 'Figtree', 'Sans';
    background-color: var(--yellow-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: clamp(18rem, 90%, 25rem);
    height: clamp(32rem, 50vh, 38rem);
    border-radius: 20px;
    box-shadow: black 10px 10px;
    border: 1px solid black;
    margin: auto;
    margin-block-end: 10%;
    padding: 0.4rem;
}

.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(15rem, 25vh, 16rem);
    padding-block-end: 5px;
}

.div-img img{
    border-radius: 10px;
    width: 90%;
    height: 85%;
    object-fit: cover;
}

.learning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--margin-left);
    padding: 0 clamp(1rem, 3%, 2rem) 0 clamp(1rem, 3%, 2rem);
    background-color: var(--yellow-background);
    width: 15%;
    height: 6%;
    border-radius: 5px;
    margin-block-end: 4%;
}

.learning p {
    font-weight: 800;
    font-size: 1rem;
}

.more span {
    font-size: 0.8rem;
}

.more {
    width: 90%;
    margin-left: var(--margin-left);
    
}

.more h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

.more p {
    color: var(--light-gray);
    font-weight: 500;
    line-height: 25px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    height: 7vh;
    margin-block-end: 0.5rem;
    margin-left: var(--margin-left);
}

.author img {
    width: 2rem;
    height: 2rem;
}

.author p {
    font-weight: 800;
}

@media (max-width: 43rem) {
    .more h1 {
        font-size: 1.4rem;
    }
    
    .more p {
        font-size: 0.9rem;
    }
}
